<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button v-on:click="show = !show">Show/Hide</button>
        <p v-if="show">I'm part-time visible!</p>
        <p v-else>Am I visible?</p>

        <p v-show="!show">Hurray, I'm Here!</p>
        <hr>

        <ul>
            <li v-for="person in persons">{{person.name}}</li>
        </ul>

        <ul>
            <li v-for="(person,index) in persons">{{person.name}}-{{index}}</li>
        </ul>

    </div>
</body>
</html>

<script>
    new Vue({
        el:"#app",
        data:{
            show:true,
            persons: [
                {name:'naii',age:20},
                {name:'Lydia Harrington',age:1741587876},
                {name:'Jesse Mathis' ,age:56112197 },
                {name:'Phillip Vaughn' ,age:1393223525 },
            ]
        },
    });
</script>