<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="n in [10,9,8,7,6,5,4,3,2,1]">{{n}}</li> <li>launch missile!</li>
        </ul>
        <ul>
            <li v-for="n in countdown">{{n}}</li> <li>launch missile!</li>
        </ul>
    </div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            'countdown':[10,9,8,7,6,5,4,3,2,1]
        }
    }
    )
</script>
</html>